@font-face {
  font-family: "Nunitooooo";
  src: url("../fonts/Nunito-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("opentype");
}

h1, h2{
  font-family:'Skrikhand';
  font-weight: bold;
}
h3,h4,h5,h6{
  font-family:'Skrikhand';
}

p{
  font-family: 'Nunitooooo';
}
/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    height: 100vh;
    color: white;
  }
  
  .hero-section small {
    color: var(--white-color);
    text-transform: uppercase;
  }
  
  .hero-section .section-overlay {
    z-index: 2;
    opacity: 0.45;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-bottom: 50px;
  }
  
  .hero-section .container .row {
    height: 100%;
  }


  /*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section-bg {
    background-color: var(--section-bg-color);
  }
  
  .section-overlay {
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
  
  .section-overlay + .container {
    position: relative;
  }
  
  .tab-content {
    background-color: var(--white-color);
    border-radius: var(--border-radius-medium);
    padding: 45px;
  }

/*---------------------------------------
  Image              
-----------------------------------------*/
.image-wrap {
  z-index: -100;
}

.custom-image {
  position: absolute; 
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/

.sticky-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #194B79; 
  transition: background-color 0.3s ease; 
 }
 
 .navbar {
  background: #194B79;
  z-index: 9;
  color: white;
 }
 
 .navbar-brand img {
  width: 100px;
  height: auto;
 }
 
 .navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
 }
 
 .navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
 }
 
 .navbar-nav .nav-link.active, 
 .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
 }
 
 .navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
  position: absolute; 
  right: 15px; 
  top: 25px; 
 }

/*---------------------------------------
  Modals              
-----------------------------------------*/
.modal-content {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

/*---------------------------------------
  Video              
-----------------------------------------*/
#video-section {
  overflow: hidden;
  padding-top: 50px; 
  padding-bottom: 50px; 
}

#video-section .container {
  position: relative;
}

.video-iframe {
  width: 100%;
  height: 400px; 
}

/*---------------------------------------
  Gallery/Grid             
-----------------------------------------*/
.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50vh, auto);
  list-style: none;
}

.grid li {
  height: 100%;
}

.grid figure,
.grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid img {
  background: #f5f3f4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 850px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 25vh;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1.5rem;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

section {
    padding: 60px 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-area, footer {

    color: white; 
}

.contact-content {
    text-align: center;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 30px;
    position: relative;
}

.contact-content h6 {
   
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
   
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

footer{
    padding: 40px 0;
    text-align: center;
}

footer {
  position: relative;
  margin-bottom: 0;
  background-color: #194B79;
}

footer::before {
  content: '';
  position: absolute;
  top: -1px; 
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff; 
}

.hr {
  border-top: 1px solid white; 
  width: 100%; 
  margin: 20px auto; 
}


.custom-shape-divider-bottom-1712696743 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712696743 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 20px;
}

.custom-shape-divider-bottom-1712696743 .shape-fill {
  fill: #FFFFFF;
}
.wave-image {
  width: 100%;
  height: auto; 
  display: block; 
  margin-top: 20px; 
}



.news-image:hover {
    transform: scale(1.1);
	cursor:  pointer;
}
br{
margin-bottom: 10px;
}

.page-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.page-reveal.active {
  opacity: 1;
  transform: translateY(0);
}


.draw-line::after {
  content: '';
  display: block;
  width: 100%; 
  height: 2px; 
  background-color: black; 
  animation: drawLine 6s ease forwards; 
}

@keyframes drawLine {
  from {
      width: 0;
  }
  to {
      width: 100%; 
  }
}

.carousel-control-prev span,
.carousel-control-next span {
    color: black;
}

.carousel-control-prev:hover span,
.carousel-control-next:hover span {
    color: #3d251e;
}

.carousel-control-prev span:hover,
.carousel-control-next span:hover {
    text-decoration: none; 
}
